<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

 <form action="SendMail2" method="post">
     发送的用户名: <input type="text" name="toUser"/><br/>
     发送主题:<input type="text" name="title"/><br/>
     发送内容:
<!--     <textarea id="context" ></textarea>-->
<!--     <input  type="text" name="context"/>-->
     <textarea name="context"></textarea>
     <input type="submit" name="发送"/>
 </form>
<!-- <script>-->
<!--     var value = document.getElementById("context").value;-->
<!--     alert(value)-->
<!--     document.getElementById("factcontext").value=value;-->
<!-- </script>-->

</body>
</html>